[project]
name = "mindscope-to-nwb-zarr"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aind-data-schema>=2.1.0",
    "hdmf-zarr>=0.12.0",
    "pynwb>=3.1.2",
]
